a.btn{
    padding: 10px;
    font-size: 1.25rem;
    width: 40%;   
    transition: box-shadow 1s;
    background-color: rgb(233, 115, 31);
    border: none;
}
a.btn:hover{
    box-shadow: 7px 7px 0px 0px black;
    background-color: rgb(233, 100, 5);
}
a.btn::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: rgba(255, 255, 255, 0.942);
    border-radius: 10px;
    transition: all 1s;
    
}
a.btn:hover::after{
    width: 100%;
    
}

.text-box {
    position: fixed; /* Change from absolute to fixed */
    top: 50%; /* Position it in the middle vertically */
    left: 50%; /* Position it in the middle horizontally */
    transform: translate(-50%, -50%); /* Center it by offsetting its own width and height */
    width: 50%; /* You can adjust this as needed */
    height: 30%; /* Set height to auto to fit content */
    z-index: 999;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    animation: fadeIn 3s;
}

section#home {
    height: 100vh;
    display: grid;
    place-items: center;
}

.carousel-inner .carousel-item > img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: zoomin 10s linear infinite;
}

.carousel-caption {
    position: absolute; /* Make the caption position absolute */
    bottom: 20px; /* Adjust the bottom position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%,-50%); /* Center the text box */
    z-index: 10; /* Ensure it appears above the images */
    width: 50%; /* Optional: Set width to 100% */
    text-align: center; /* Center text */
}

.imdiv{
    height: 92vh;
    background-color:rgb(0,0,0, .3);
    background-blend-mode: darken;
}

.written{
    max-width: 350px;
    animation-name: fade-up;
    animation-duration: 3s;
}
.zoom-image {
    transition: transform 0.5s ease; /* Smooth transition for the zoom effect */
}

.carousel-item.active .zoom-image {
    transform: scale(1.1); /* Scale up the active image */
}

@keyframes zoom {
    0% {
        transform: scale(1); /* Start at original size */
    }
    50% {
        transform: scale(1.1); /* Scale up to 110% */
    }
    100% {
        transform: scale(1); /* Return to original size */
    }
}